/*#hero img {
    height: 70vh;
    object-fit: cover;
}*/
#hero img {
    width: 100%;
    height: 70vh;
    object-fit: contain; 
    background-color: #000; 
}



.footer-line {
    height: 4px;
    background-color: #8B0000;
    margin-bottom: 20px;
}

.footer-wrapper {
    background-color: #222;
    color: white;
    padding: 40px 20px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-columns section h3 {
    color: #f8d7da;
}

.footer-columns ul {
    padding: 0;
    list-style: none;
}

.footer-columns ul li {
    margin-bottom: 8px;
}

.footer-columns a {
    color: #ddd;
    text-decoration: none;
}

.footer-columns a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
}

.social-links ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-left: 0;
    list-style: none;
}

.galeria-img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border-radius: 8px;
}


